.menu-item-has-children a:after {  content: "\f107" !important; }

#footer-bottom {
    overflow: hidden !important;
    padding: 20px 0px 10px 0px !important;
}
.lima-footer-title {
    color: #ffffff !important;
    text-align: left !important;
}
.lima-footer-desc {
    color: #ffff !important;
    text-align: left !important;
    font-size: 18px !important;
}
.lima-footer-copyright a {
    color: #3a84df !important;
}
.lima-footer-copyright {
    color: #fff !important;
    overflow: hidden !important;
    font-size: 12px !important;
    margin-top: 20px !important;
    text-align: left !important;
}
.top-social i {
    font-size: 21px !important;
    line-height: 30px !important;
}
.top-social a {
	width: 40px !important;
}